{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

    <div class="register">
        <h3 style="font-size: 30px;">비밀번호 수정</h3>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="flex">

            
                <ul class="container">
                    <li class="item center">
                        기존 비밀번호
                    </li>

                    <li class="item" style="padding-bottom: 10px;">
                        <input type="password" id="old_password" name="old_password" placeholder="현재 비밀번호를 입력하세요."
                        value="{{ form.old_password.value|default_if_none:'' }}"
                            >
                    </li>

                    <li class="item">

                    </li>
                    

                    <li class="item center"style="margin-bottom: 10px;">
                        새 비밀번호
                    </li>
                    <li class="item" style="padding-bottom: 10px;">
                        <input type="password" id="new_password1" name="new_password1" placeholder="변경할 비밀번호를 입력하세요." value="{{ form.new_password1.value|default_if_none:'' }}"
                            >
                    </li>
                    <li class="item">

                    </li>
                    

                    <li class="item center">
                        새 비밀번호 확인
                    </li>
                    <li class="item">
                        <input type="password" id="new_password2" name="new_password2" placeholder="변경할 비밀번호를 확인하세요." value="{{ form.new_password2.value|default_if_none:'' }}"
                            >
                    </li>
                    <li class="item">

                    </li>
                    
                    <li class="item center">

                    </li>

                    <li class = "item">
                        zz
                        {% for message in messages %}
                        {{ message.tag }}
                        {{ message }}
                        {% endfor %}
                    </li>
                </ul>
                

                <ul class="container">
                    <li class="item center">

                    </li>

                    <li class="item">
                        <a href="{% url 'common:modify_password_completed' %}"><button class="submit">수정하기</button></a>
                    </li>

                    <li class="item">

                    </li>
                </ul>
            </div>
        </form>

    </div>
</body>
{% endblock %}