{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

<div class="register">
    <h3 style="font-size: 30px;">이메일 수정</h3>

    <form method="post"  autocomplete='off'>

        {% csrf_token %}
        
        <div class="flex">


            <ul class="container">
                <li class="item center">
                    변경할 이메일
                </li>
                <li class="item">
                    <input type="email" id="email" name="email" placeholder="변경할 이메일을 입력하세요." 
                        value="">
                </li>
                <li class="item">

                </li>
            </ul>


            <ul class="container">
                <li class="item center">

                </li>

                <li class="item">
                    <button class="submit">수정하기</button>
                </li>

                <li class="item">

                </li>
            </ul>
            
            <ul class="container">
                <li class="item center">

                </li>

                
                <li class="item">
                    {% include "form_errors.html" %}
                </li>
                <li class="item">
                    
                </li>
            </ul>
        </div>

    </form>


</div>
</body>
{% endblock %}