{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

    <div class="register">
        <h3 style="font-size: 30px;">비밀번호 수정</h3>
        <!-- <form method="post" action="" autocomplete="off"> -->
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="flex">

            
                <ul class="container">
                    <li class="item center">
                        비밀번호
                    </li>
                    <li class="item">
                        <input type="password" id="modify_password" name="modify_password" placeholder="변경할 비밀번호를 입력하세요."
                            value="{{ form.modify_password.value|default_if_none:'' }}">
                    </li>
                    <li class="item">

                    </li>
                </ul>
                

                <ul class="container">
                    <li class="item center">

                    </li>

                    <li class="item">
                        <a href="{% url 'common:modify_password_completed' %}"><button class="submit">수정하기</button></a>
                    </li>

                    <li class="item">

                    </li>
                </ul>
            </div>
        <!-- </form> -->

    </div>
</body>
{% endblock %}