{% extends "base.html" %}
{% load static %} 
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/find_id.css' %}">

<div class="find_id">
    <h3 style="font-size: 30px;">아이디 찾기</h3>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="flex">
                <ul class="container">
                    <li class="item center">
                        이메일
                    </li>
                    <li class="item">
                        <input type="email" name="email" id="email" placeholder="이메일을 입력하세요.">
                    </li>
                </ul>
                <ul class="container">
                    <li class="item center">
                    </li>
                    <li class="item">
                        <button type="Submit" class="submit">확인</button>
                    </li>
                </ul>
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </div>
    </form>
</div>
{% endblock %}