{% extends "base.html" %}
{% load static %} 
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

<div id="div-login">
    <form method="post" action="{% url 'common:login_main' %}">
        {% csrf_token %}
        
        <div class="form-group">
            <!-- 로그인 글자 -->
            <h1 style="text-align: left; margin-left: 50px; font-size: 30px; margin-bottom: 20px;">
                로그인
            </h1>
            
            <!-- 아이디 -->
            <input type="text" name="username" id="username" placeholder="아이디"
                   >
        </div>

        <div class="form-group">
            
            <!-- 비밀번호 -->
            <input type="password" name="password" placeholder="비밀번호" id="password"
                   >
            
        </div>
        {% include "form_errors.html" %}
            {{error}}
        <!-- 로그인 버튼 -->
        <button type="submit" id="btn-login" onclick="location.href='{% url 'common:login_main' %}'">로그인</button>
        <br>

        <a id="a-find-btn" href="{% url 'common:find_id' %}"> 아이디 찾기 </a>
        <a id="a-find-btn" href="{% url 'common:password_reset' %}"> 비밀번호 찾기 </a>
        <a id="a-register-btn" href="{% url 'common:signup' %}"> 회원가입 </a>
    </form>
</div>
{% endblock %}