{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/find_id.css' %}">

<div class="find_id">
    <h3 style="font-size: 30px;">비밀번호 재설정</h3>
        {% if validlink %}
        <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="flex">
            <ul class="container">
                <li class="item center">
                    <label for="new_password1">새로운<br>비밀번호</label>
                </li>
                <li class="item">
                    <input type="password" name="new_password1" id="new_password1" placeholder="새로운 비밀번호를 입력하세요.">
                </li>
            </ul>
            <ul class="container">
                    <li class="item center">
                        <label for="new_password2">비밀번호 확인</label>
                    </li>
                    <li class="item">
                        <input type="password" name="new_password2" id="new_password2" placeholder="새로운 비밀번호를 다시 입력하세요.">
                    </li>
                </ul>
                <ul class="container">
                    <li class="item center">
                    </li>
                    <li class="item">
                        <button type="Submit" class="submit">변경하기</button>
                    </li>
                </ul>
        </div>

    </form>
    {% else %}
    <p>링크가 유효하지 않습니다.</p>
    {% endif %}
</div>
{% endblock %}