{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/find_id_checked.css' %}">

<div id="div-logo-container">
    <div id="div-logo"></div>
</div>

<div id="div-container">

    <div id="div-wrapper">
        <div>
            <p class="p-txt"> 이메일을 전송했습니다. </p>
        </div>

        <table id="table-id-list-02">
            <tr>
                &nbsp;
            </tr>
            <tr>
                &nbsp;
            </tr>
            <tr>
                <td>
                    <button id="btn-fix" onclick="location.href='{% url 'common:login_main' %}'">
                        로그인하기
                    </button>
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>

</div>

{% endblock %}