{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/find_id.css' %}">

<div class="find_id">
    <h3 style="font-size: 30px;">비밀번호 찾기</h3>
        <form method="post" autocomplete="off" action="{%url 'common:password_reset' %}">
            {% csrf_token %}

            <div class="flex">
                <ul class="container">
                    <li class="item center">
                        <label for="username">아이디</label>
                    </li>
                    <li class="item">
                        <input type="text" class="form-control" name="username" id="username"
                            value="{{ form.username.value|default_if_none:'' }}">
                    </li>
                </ul>
                <ul class="container">
                    <li class="item center">
                        <label for="email">이메일</label>
                    </li>
                    <li class="item">
                        <input type="text" class="form-control" name="email" id="email"
                            value="{{ form.email.value|default_if_none:'' }}">
                    </li>
                </ul>
                <ul class="container">
                    <li class="item center">
                    </li>
                    <li class="item">
                        <button type="Submit" class="submit">이메일 전송</button>
                    </li>
                </ul>
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </div>
    </form>
</div>
{% endblock %}