{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<!DOCTYPE HTML>
<html>

<head>
    
    <script type="text/javascript">
        // 자세별 count
        var data = JSON.parse('{{datas | safe}}');
        var today = data[0];
        var labels = [];
        var step = 0;
        var temp = today;

        for(step = 1; step < 13; step++){
            temp = today+step;
            if (temp > 12) {
                temp = temp - 12;
            }
            labels.push(temp+"월");
        }

        var barChartData = {
            labels: labels,
            datasets: [{
                label: '어깨비대칭',
                backgroundColor: "#1E90FF",
                data: [
                    data[today+1],
                    data[today+2],
                    data[today+3],
                    data[today+4],
                    data[today+5],
                    data[today+6],
                    data[today+7],
                    data[today+8],
                    data[today+9],
                    data[today+10],
                    data[today+11],
                    data[today+12]
                ]
            }
        ],
            
        };
        window.onload = function () {
            var ctx = $('#chart').get(0).getContext("2d");
            window.theChart = new Chart(ctx, {
                type: 'bar', 
                data: barChartData, 
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function(value) {if (value % 1 === 0) {return value;}}
                            }
                        }]
                    }
                }
            });
        } 
    </script>

</head>

<body>

    <div style="width:100%; height:100%;">
        <div style="width:80%; position:absolute; left:5%;">
            <div style="float:left; width: 200px; height:100%; text-align:right; line-height: 60px;">
                <!-- 사이드바 -->
                {% include 'navbar/statistics/sidebar.html' %}
                <!-- body -->
                <div style="left: 250px; width: 1000px; height: 100%; position: absolute;">
                    <!-- 타이틀 -->
                    <div style="margin-top:50px; text-align:left;">
                        <table>
                            <tr>
                                <td style="width: 250px;">
                                    <h3 style="float: left;">어깨비대칭 통계</h3>
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example" >
                                        <button type="button" id="btn-selected-month"
                                        onclick="location.href='{% url 'posture:stats_shoulder_month' %}'">연간통계</button>
                                    <button type="button" id="btn-week"
                                        onclick="location.href='{% url 'posture:stats_shoulder_week' %}'">주간통계</button>
                                    <button type="button" id="btn-day"
                                        onclick="location.href='{% url 'posture:stats_shoulder_day' %}'">일별통계</button>
                          </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                   
                    <!-- 타이틀 밑에 밑줄 -->
                    <div style="line-height:30px;">

                        <!-- 막대그래프 -->
                        <div id="chartContainer" style="height: 300px; width: 100%; position: relative; margin-top: 50px;">
                            <canvas id="chart" style="height: 300px; width: 100%; position: relative; margin-top: 50px;"></canvas> 
                        </div>
                        


                    </div>
                    
                    <hr>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}