{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<body>
    <div align="center">
        {% if user.is_authenticated %}
        <a href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>

        <div class="bg">
            <a href="{% url 'posture:program' %}"><button id="btn-fix">시작하기</button></a>
        </div>
        {% else %}
        <div class="bg">
            <a href="{% url 'common:login_main' %}"><button id="btn-fix">로그인</button></a>
        </div>
        {% endif %}
    </div>
</body>

{% endblock %}