{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
<script src="{% static 'js/mypage_birth.js' %}"></script>

<div align="center">
    
    <div style="width: 800px; height: 100%;">
        <div style="padding:50px 0 0 30px; margin-top: 30px;">
             <!-- 마이페이지 -->
                <div align="left">
                    <h2>마이페이지</h2>
                
                </div>
                <!-- 개인정보 -->
                <div>
                    <table style="position: relative; margin-top: 3%; border-spacing: 0;
                            border-collapse: collapse; width: 100%;">
                        <tr>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                아이디
                            </td>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%; width: 700px;">
                                <!-- {% if user.is_authenticated %}
                                    {{ user.username }}
                                {% else %}
                                    홍길동
                                {% endif %} -->
                                admin
                            </td>
                        </tr>

                        <tr>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                비밀번호 
                                <!-- 이건 보안 상 빼야할거 같아 -->
                            </td>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%;">
                                123456
                            </td>
                        </tr>

                        <tr>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                성별
                            </td>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%;">
                                
                                <select name="select_sex" onChange="selectsex(this)">
                                    <option value="male" selected>남자</option>
                                    <option value="female">여자</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                생년월일
                            </td>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%;">
                                
                                <select name="yy" id="year"></select>년 
                                <select name="mm" id="month"></select>월 
                                <select name="dd" id="day"></select>일

                            </td>
                        </tr>

                        <tr>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                이메일
                            </td>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%;">
                                admin@gmail.com
                            </td>
                        </tr>

                        
                    </table>
                </div>

                <div align = "center" style="margin-top: 20px;">
                    <button id="btn-fix">수정하기</button>
                    
                </div>
            
        </div>
    </div>
</div>

{% endblock %}