{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
<body>
    <div align="center">

        {% if user.is_authenticated %}

         <img src="{% url 'stream2' %}" width="640" height="480" style="margin: 150px">
        <div class="bg">
            <a href="{% url 'posture:program' %}"><button id="btn-fix">종료하기</button></a>
        </div>
        {% else %}
        {% endif %}
    </div>
</body>

{% endblock %}l