{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/birth.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

<div class="register">
    <h3 style="font-size: 30px;">회원가입</h3>
    <form action="#" autocomplete="off">
        <div class="flex">
            
            <ul class="container">
                <li class="item center">
                    아이디
                </li>
                <li class="item">
                    <input type="text" placeholder="아이디를 입력하세요." required>
                </li>
                <li class="item">
                    <button class="idcheck">중복확인</button>
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    비밀번호
                </li>
                <li class="item">
                    <input type="password" placeholder="비밀번호를 입력하세요." required>
                </li>
                <li class="item">
                    
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    비밀번호 확인
                </li>
                <li class="item">
                    <input type="password" placeholder="비밀번호를 입력하세요." required>
                </li>
                <li class="item">
                    
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    생년월일
                </li>
                <li class="item">
                    
                    <input type="date" required>
                </li>
                <li class="item">
                    
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    성별
                </li>
                <li class="item">
                    <select name="gender" id="" required>
                        <option value="선택" selected>선택</option>
                        <option value="남성">남성</option>
                        <option value="여성">여성</option>
                    </select>
                </li>
                <li class="item">
                    
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    이메일
                </li>
                <li class="item">
                    <input type="text" placeholder="이메일" required>
                </li>
                <li class="item">
                    
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    
                </li>
                <li class="item">
                    <button class="submit">가입하기</button>
                </li>
                <li class="item">
                    
                </li>
            </ul>
        </div>
    </form>
</div>

{% endblock %}

