{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/find_id_checked.css' %}">

<div id="div-logo-container">
    <div id="div-logo"></div>
</div>

<div id="div-container">

    <div id="div-wrapper">
        <div>
            <p class="p-txt"> 회원가입이 완료되었습니다. </p>
        </div>

        <!-- <table id="table-id-list-02">
        
            <tr>
                <td>
                    <p class="p-id-list-txt-01"> </p>
                </td>
                <td>
                    <p class="p-id-list-txt-02"> admin </p>
                </td>
                <td>
                    <p class="p-id-list-txt-03"> 가입일&nbsp;&nbsp;
                        2022.03.15 </p>
                </td>
            </tr>
        
        </table> -->
        
        <table id="table-id-list-02">
            <tr>
                &nbsp;
            </tr>
            <tr>
                &nbsp;
            </tr>
            <tr>
                <td>
                    <button id="btn-fix" onclick="location.href='{% url 'common:login' %}'">
                        로그인하기
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}