{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/birth.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

<div class="register">
    <h3 style="font-size: 30px;">회원가입</h3>
    <form method="post" action="{% url 'common:signup' %}" autocomplete="off">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="flex">
            
            <ul class="container">
                <li class="item center">
                    아이디
                </li>
                <li class="item">
                    <input type="text" name="username" id="username" placeholder="아이디를 입력하세요." required  value="{{ form.username.value|default_if_none:'' }}">
                </li>
                <li class="item">
                    <button class="idcheck">중복확인</button>
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    비밀번호
                </li>
                <li class="item">
                    <input type="password" id="password1" name="password1" placeholder="비밀번호를 입력하세요." required value="{{ form.password1.value|default_if_none:'' }}">
                </li>
                <li class="item">
                    
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    비밀번호 확인
                </li>
                <li class="item">
                    <input type="password" name="password2" id="password2" placeholder="비밀번호를 입력하세요." required>
                </li>
                <li class="item">
                    
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    생년월일
                </li>
                <li class="item">
                    
                    <input type="date" required name="birth" id="birth" value="{{ form.birth.value|default_if_none:'' }}>
                </li>
                <li class="item">
                    
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    성별
                </li>
                <li class="item">
                    <select name="gender" id="gender" required value="{{ form.gender.value|default_if_none:'' }}>
                        <option value="선택" selected>선택</option>
                        <option value="남성">남성</option>
                        <option value="여성">여성</option>
                    </select>
                </li>
                <li class="item">
                    
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    이메일
                </li>
                <li class="item">
                    <input type="text" placeholder="이메일"  name="email" id="email" required value="{{ form.email.value|default_if_none:'' }}">
                </li>
                <li class="item">
                    
                </li>
            </ul>
            <ul class="container">
                <li class="item center">
                    
                </li>
                <li class="item">
                    <button class="submit" onclick="location.href='{% url 'common:signup_completed' %}'">가입하기</button>
                </li>
                <li class="item">
                    
                </li>
            </ul>
        </div>
    </form>
</div>

{% endblock %}

