{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/recommended.css' %}">

<body>
  <script language="javascript">

  </script>

  <div style="width:100%; height:100%;">
    <div style="width:80%; position:absolute; left:5%;">
      <div style="float:left; width: 200px; height:100%; text-align:right; line-height: 60px;">
        <!-- 사이드바 -->
        {% include 'navbar/recommended/sidebar_recommended.html' %}
        <!-- body -->
        <div style="left: 250px; width: 1000px; height: 100%; position: absolute;">
          <!-- 타이틀 -->
          <div style="margin-top:50px; text-align:left; ">
            <!-- 소제목 -->
            <table>
              <tr>
                <td>
                  <h3 style="float: left;">거북목 영상</h3>
                </td>
              </tr>
            </table>

          </div>

          <hr>

          <!-- "{% url 'posture:show_turtle_videos' %}"  -->

          {% if correction_video %}
          <table id="table-container">
            <tr>
              {% for video in correction_video.all %}
              <td style="width: 206px; height: 120px; ">
                <div data-toggle="modal" data-target="#modal">
                  <div class="div-images" style="width: 206px; height : 120px;">
                    <a>
                      <img class="trigger" src={{ "https://img.youtube.com/vi/" | add:video.video_link | add:"/maxresdefault.jpg"}}
                        width="206px" height="120px" style="cursor: pointer;" data-img={{ "https://img.youtube.com/vi/" | add:video.video_link| add:"/maxresdefault.jpg"}}>

                    </a>

                    
                  </div>
                  <h2 id="vtitle" style="font-size: 15px; margin-top: 10px;">{{video.title}}</h2>
                </div>




              </td>


              {% if not forloop.last and forloop.counter|divisibleby:4 %}

            </tr>
            {% endif %}
            {% endfor %}


          </table>


          <!-- Modal -->
          <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content" style="height: 700px;">
                <div class="modal-header" style="height: 10px;">
                  <h6></h6>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                  
                </div>
                <div class="modal-body">
                  <!-- 유튜브 영상 -->
                  <iframe id="youtube_video" width="100%" height="100%" src="https://www.youtube.com/embed/" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>


          {% else %}
          <div id="div-alert"> 포트폴리오를 준비 중입니다. </div>
          {% endif %}


        </div>
      </div>
    </div>
  </div>



  <script type="text/javascript">
    
    var videolink = document.getElementsByClassName("videolink");
    var trigger = document.getElementsByClassName("trigger");

    // 이전 페이지에 있던 글자 가져오기
    function toggleModal() {
      var imgId = $(this).data("img").split("/"); // 이미지 주소에서 video_link만 분리

			document.getElementById("youtube_video").src="https://www.youtube.com/embed/"+ imgId[4]; // 유튜브 영상에       
    }

    function windowOnClick(event) {
      if (event.target === modal) {
        toggleModal();
      }
    }

    // 이미지 클릭시 모든 이미지에 이벤트 적용
    for (var i = 0; i < trigger.length; i++) {
      trigger[i].addEventListener("click", toggleModal);
    }
  </script>

</body>

{% endblock %}