<div style="float:left; width:90%; height: 600px;
        box-shadow: 3px 3px 5px lightgray;
        border-bottom-left-radius: 50% 100px;
        border-bottom-right-radius: 50% 100px;">
    <div style="margin-top:100px; margin-right:20px;">
        
        <a href="{% url 'posture:recommended_turtle' %}" data-text="ideology">거북목 영상</a><br>
        <a href="{% url 'posture:recommended_shoulder' %}" data-text="history">어깨비대칭 영상</a><br>
        <a href="{% url 'posture:recommended_jaw' %}" data-text="route">턱 괴기 영상</a><br>

    </div>
</div>